<md-content class="md-padding" flex>
	<div layout = "column" layout-align = "center center">
		<md-tabs md-stretch-tabs md-dynamic-height style = "width: 100%">
			
				<md-tab label = "Work Management">
				  <div layout="column" style="position:relative;">
					<md-content>
						<md-table-container md-row-select style = "margin-bottom : 40px">
									<table md-table>
											<thead md-head >
													<tr md-row >
															<th md-column class = "font_18 center" style = "width : 100px">Id</th>
															<th md-column class = "font_18 center" style = "width : 200px">Name</th>
															<th md-column class = "font_18 center" style = "width : 200px">Department</th>
															<th md-column class = "font_18 center" style = "width : 100px">Action</th>
													</tr>
											</thead>
											<tbody md-body>
												<tr md-row ng-show = "works.length > 0" ng-repeat = "work in works | orderBy : 'work_id'">
													    <td md-cell class = "font_16 center">
                                                           #[[work.work_id]]
                                                        </td>
                                                        <td md-cell class = "font_16 center">
                                                        	[[work.work_name]]
                                                        </td>
														<td md-cell class = "font_16 center">
															<p ng-show = "work.dept_name">[[work.dept_name]]</p>
															<p ng-hide = "work.dept_name">-</p>
														</td>
														<td md-cell class = "font_16 center"><div layout = "row" layout-align = "space-around center"><md-button ng-click = "showUpdateWorksDialog($index)"><md-icon md-font-icon="fa-pencil" class = "fa" ></md-icon></md-button><md-button ng-click = "showRemoveWorkDialog($index)"><md-icon md-font-icon="fa-remove" class = "fa" style = "color : red"></md-icon></md-button></div></td>
												</tr>
												<tr md-row ng-show = "works.length == 0">
													<td md-cell class = "font_16 center font_bold" colspan = "6">There are no works to show.</td>
												</tr>
														<tr>
														</tr>
										</tbody>
								</table>
						</md-table-container>
					</md-content>

					<md-button class="md-fab md-fab-bottom-right" aria-label="Add Work" ng-click = "showAddWorkDialog()">
						<md-icon md-font-icon="fa-plus" class = "fa fa-2x" style = "color : white"></md-icon>
					</md-button>
				</div>
				</md-tab>
				<md-tab label = "Departments Management">
				<md-content>
		<md-table-container md-row-select style = "margin-bottom : 40px">
	        <table md-table>
	            <thead md-head >
	                <tr md-row >
	                    <th md-column class = "font_18 center" style = "width : 100px">Id</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Name</th>
	                   	<th md-column class = "font_18 center" style = "width : 200px">Email</th>
	                    <th md-column class = "font_18 center" style = "width : 100px">Action</th>
	                </tr>
	            </thead>
	            <tbody md-body>
		            <tr md-row ng-show = "departments.length > 0" ng-repeat = "department in departments">
		                <td md-cell class = "font_16 center">#[[department.id]]</td>
		                <td md-cell class = "font_16 center">[[department.name]]</td>
		             	<td md-cell class = "font_16 center">[[department.email]]</td>
		                <td md-cell class = "font_16 center"><div layout = "row" layout-align = "space-around center"><md-button ng-click = "showUpdateDepartmentDialog($index)"><md-icon md-font-icon="fa-pencil" class = "fa" ></md-icon></md-button><md-button ng-click = "showRemoveDepartmentDialog($index, 'no')"><md-icon md-font-icon="fa-remove" class = "fa" style = "color : red"></md-icon></md-button></div></td>
		            </tr>
		            <tr md-row ng-show = "departments.length == 0">
		            	<td md-cell class = "font_16 center font_bold" colspan = "6">There are no departments to show.</td>
		            </tr>
                    <tr>

                    </tr>
		        </tbody>
		    </table>
				</md-table-container>
				</md-content>
				<md-button class="md-fab md-fab-bottom-right" aria-label="Add Branch" ng-click = "showAddDepartmentDialog()">
					<md-icon md-font-icon="fa-plus" class = "fa fa-2x" style = "color : white;"></md-icon>
				</md-button>
				</md-tab>
		</md-tabs>
	</div>
</md-content>
<script type = "text/ng-template" id = "task.tmpl.html">
	 <md-dialog>
	   <md-toolbar>
			      <div class="md-toolbar-tools">
			        <h2>Department Tasks </h2>
			        <span flex></span>
			        <md-button class="md-icon-button" ng-click="theScope.closeDialog()">
			          <md-icon md-font-icon="fa-times" class = "fa" aria-label="Close dialog"></md-icon>
			        </md-button>
			      </div>
	   </md-toolbar>
	   <md-dialog-content style="width:400px;max-height:810px;margin-top:20px">
	       <div layout = "column" layout-align = "center center">
	            <md-list>
				  <md-list-item class="md-2-line" ng-repeat="item in theScope.deptTasks">
				    <div class="md-list-item-text">
				            <p style="font-size:18px">[[item.name]]</p>
				    </div>
				  </md-list-item>
				</md-list>
	       </div>
	   </md-dialog-content>
	 </md-dialog>
</script>
<script type = "text/ng-template" id = "department.tmpl.html">
	<md-dialog aria-label="branch">
			<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>[[::theScope.dialogType]] Department <span ng-if = "theScope.dialogType == 'Edit'">- [[theScope.currentDepartment.name]]</span></h2>
		        <span flex></span>
		        <md-button class="md-icon-button" ng-click="theScope.closeDialog()">
		          <md-icon md-font-icon="fa-times" class = "fa" aria-label="Close dialog"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
		    <md-dialog-content style="width:400px;max-height:810px;margin-top:20px">
		        <form name = "departmentForm">
		    	<div layout = "column" layout-align = "center center">
		            <md-input-container style = "width : 300px" class = "md-block">
					  <label>Name of the Department</label>
					  <input type="text" required="" name = "departmentName" ng-model = "theScope.currentDepartment.name" ng-pattern = "/^[a-zA-Z ]+$/">
					  <div ng-messages = "departmentForm.departmentName.$error">
					  	<div ng-message = "required">This is required</div>
							<div ng-message = "pattern">Invalid Department Name</div>
					  </div>
					</md-input-container>
					 <md-input-container style = "width : 300px">
					  <label>Email id</label>
					  <input type="text" required name = "email" ng-model = "theScope.currentDepartment.email" ng-pattern = "/^[a-z0-9_.]+@[a-z]+.[a-z]+$/">
					  <div ng-messages = "departmentForm.email.$error">
					  	<div ng-message = "required">This is required</div>
							<div ng-message = "pattern">Invalid Email Id</div>
					  </div>
					</md-input-container>
					<div layout = "row" layout-align = "center center">
						<md-button class = "md-primary" style = "font-size : 1.3em"
						ng-click = "theScope.departmentAction(theScope.dialogType)" ng-disabled = "theScope.departmentActionLoading">[[::theScope.dialogType]] Department</md-button>
						<md-progress-circular md-mode="[[theScope.departmenthActionLoading]]"></md-progress-circular>
		            </div>
				</div>
			</form>
		</md-dialog-content>
	</md-dialog>
</script>

<script type = "text/ng-template" id = "work.tmpl.html">
	<md-dialog aria-label="branch">
			<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>[[::theScope.dialogType]] Works <span ng-if = "theScope.dialogType == 'Edit'">- [[theScope.currentWork.work_name]]</span></h2>
		        <span flex></span>
		        <md-button class="md-icon-button" ng-click="theScope.closeDialog()">
		          <md-icon md-font-icon="fa-times" class = "fa" aria-label="Close dialog"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
		    <md-dialog-content style="width:400px;max-height:810px;margin-top:20px;margin-left:auto;margin-right: auto">
		        <form name = "workForm">
		    	<div layout = "column" layout-align = "center center">
		            <md-input-container style = "width : 300px" class = "md-block">
					  <label>Name of the Work</label>
					  <input type="text" required="" name = "workName" ng-model = "theScope.currentWork.work_name" required>
					  <div ng-messages = "departmentForm.departmentName.$error">
					  	<div ng-message = "required">This is required</div>
							<div ng-message = "pattern">Invalid Work Name</div>
					  </div>
					</md-input-container>
					<md-input-container style = "width: 300px">
						 <label>Department</label>
						 <md-select ng-model="theScope.currentWork.dept_id" name = "department_name" required>
							<md-option ng-repeat="dept in theScope.departments" value="[[dept.id]]">
								    [[dept.name]]
							</md-option>
						 </md-select>
						 <div ng-messages="workForm.department_name.$error">
						 <div ng-message="required">This is Required</div>
						 </div>
					</md-input-container>
					<div layout = "row" layout-align = "center center">
						<md-button class = "md-primary" style = "font-size : 1.3em"
						ng-click = "theScope.workAction(theScope.dialogType)" ng-disabled = "theScope.workActionLoading">[[::theScope.dialogType]] Work</md-button>
						<md-progress-circular md-mode="[[theScope.workActionLoading]]"></md-progress-circular>
		            </div>
				</div>
			</form>
		</md-dialog-content>
	</md-dialog>
</script>
