<md-content class="md-padding" flex>
	<div layout = "column" layout-align = "center center" class = "md-whiteframe-z2">
		<div layout = "column" layout-align = "center center">
			<md-autocomplete
					md-floating-label = "Select a Client"
		          md-selected-item="client"
		          md-search-text="searchText"
		          md-selected-item-change="selectedClientChanged(item)"
		          md-items="item in querySearch(searchText)"
		          md-item-text="getName(item)"
		          md-min-length="0"
		          placeholder="Select a client"
		          md-menu-class="autocomplete-custom-template" style = "width : 500px" >
		        <md-item-template>
		          <span class="item-title">
		            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i"> #[[item.id]] - [[item.company_name]] - [[item.name]] - [[item.company_pan_number]] </span>
		          </span>
		        </md-item-template>
		        <md-not-found>
    				No clients found.
				</md-not-found>
		    </md-autocomplete>
		</div>
		<md-table-container md-row-select style = "margin-bottom : 40px">
	        <table md-table>
	            <thead md-head >
	                <tr md-row >
	                    <th md-column class = "font_18 center" style = "width : 100px">Document Id</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Description/File Name</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Client Name</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Latest Downloaded Time</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Download Count</th>
	                    <th md-column class = "font_18 center" style = "width : 100px">Action </th>
	                </tr>
	            </thead>
	            <tbody md-body>
	            	<tr md-row ng-show = "!searched && !docsLoading">
	            		<td md-cell class = "font_16 center font_bold" colspan = "6">Select a Client to view the document downloads</td>
	            	</tr>
	            	<tr md-row ng-show = "searched && downloadCountDetails.length == 0">
	            		<td md-cell class = "font_16 center font_bold" colspan = "6">There are no documents for the selected client.</td>
	            	</tr>
		            <tr md-row ng-show = "searched && downloadCountDetails.length > 0" ng-repeat = "docDownload in downloadCountDetails">
		                <td md-cell class = "font_16 center">#[[docDownload.id]]</td>
		                <td md-cell class = "font_16 center" ng-show = "docDownload.description">[[docDownload.description]]</td>
		                <td md-cell class = "font_16 center" ng-show = "!docDownload.description">[[docDownload.url.split('documents/')[1] ]]</td>
		                <td md-cell class = "font_16 center">[[client.name]]</td>
		                <td md-cell class = "font_16 center" ng-show = "docDownload.latestDownloadedTime">[[docDownload.latestDownloadedTime]]</td>
		                <td md-cell class = "font_16 center" ng-show = "!docDownload.latestDownloadedTime">-</td>
		                <td md-cell class = "font_16 center">[[docDownload.downloadCount]]</td>
		                <td md-cell class = "font_16 center"><md-button class = "md-primary md-raised" ng-click = "openClient()">
		                    Open Client Area
		                </md-button></td>
		            </tr>
		            <tr md-row ng-show = "docsLoading">
		            	<td md-cell class = "center" colspan = "6"><md-progress-circular md-mode="[[docsLoading]]" style = "margin-left:auto;margin-right:auto"></md-progress-circular></td>
		            </tr>
		        </tbody>
		    </table>
		</md-table-container>
	</div>
</md-content>